{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react|next/(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "^@/(components|hooks|lib|utils)/(.*)$",
    "^@/(styles|types)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderTypeScriptVersion": "5.0.0"
}
